<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNg Example">

    <test name="Smoke tests" preserve-order="false">
        <classes>
            <class name="SignUpTests"></class>
            <class name="LoginTests"></class>
            <class name="PLPTests"></class>
            <class name="HomePageTests"></class>
            <class name="DropdownPractice"></class>
        </classes>
    </test>
</suite>